<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      /* background-image: url(https://zeppelin-restaurant.de/images/img_404.png);
            
            height: 1px;
            background-position: center;
            background-repeat:no-repeat;
            background-size: cover; */
      text-align: center;
      background-color: #E4E9FD;
      background-image: -webkit-linear-gradient(65deg, rgb(165, 69, 69) 58%, #e7c0a1ec 50%);
      min-height: 99vh;
      /* margin-top: 1px; */
      background-repeat: no-repeat;
      font-family: 'helvetica neue';
      color: white;
      text-shadow: 1px 2px 2px black;

    }

    h1 {
      font-size: 2rem;
      color: white;
      text-shadow: 1px 2px 2px black;
      /* margin-top: rem; */
    }
    button{
        background-color: black;
        padding: 10px 30px;
        border-radius: 20px;
        font-weight: bolder;
        font-size: larger;
        


    }
    h2{
        font-size: 2rem;
    }
    h1:first-of-type{
        color: navy;
        font-size: 5rem;
        letter-spacing: 10px;

        font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Rowdies', cursive;
font-family: 'Spline Sans Mono', monospace;
    }
    button a{
        color: white;
        text-decoration: none;
    }
  </style>
</head>

<body>
  <br><br><br>
  <h1>500</h1>
  <h1>Something Went Wrong on Server!</h1>
  <h2>We are Trying our best to remove it</h2>
  <button><a href="/">Back to Home</a></button>
</body>

</html>