<style>
    .link a{
        text-decoration: none;
        
    }
    .link li{
        list-style: none;     

    }
    .link li a{
        color: black;
    }
    .link li a:hover{
        color:rgb(37, 37, 185);
    }
    .footer{
        background-color: white;
        color: black;
        
        border-top: 2px solid black;
    }
    @media(max-width:767px) {
        .footer{
            text-align: center;
        }
        
    }
   

</style>
<div class="contanier-fluid fw-bold  p-3 pb-1 footer">
  <div class="row">
    <div class="col-lg-4 col-md-5">
        <h3 class="text-success">Coding Blogger</h3>
        <p>A Single Plaftorm to Learn Coding for Students.</p>
        <p>Created by - Pranav Malpani</p>
        <!-- <p>College - Indian Insitute of Information Technology , Kota</p> -->
    </div>
    <div class="col-lg-3 col-md-5 offset-md-1 link">
        <h4 class="mx-5 text-success">Links</h4>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/create-post" >Create Post</a></li>
            <li><a href="/see_post">See Post</a></li>
            <li><a href="contact.php">Privacy Policy</a></li>
        </ul>

        <!-- <h4>Social Media Handle</h4>
        <img src="https://pngimg.com/uploads/youtube/youtube_PNG102354.png" alt="">
        <img src="https://logodix.com/logo/512512.png" alt="">
        <img src="https://pnggrid.com/wp-content/uploads/2021/05/Instagram-Logo-2048x1965.png" alt="">
        <img src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/261/2017/01/facebook-logo-3.png" alt=""> -->
    </div>
   
</div>
 <h5 class="text-center">Copyright@2022. PRANAV MALPANI</h5>
  </div>