<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
  <style>
    body {
      background-color: rgb(237, 203, 159);
    }

    nav {
      background-color: white;
    }

    form {
      border: 2px solid rgb(246, 12, 12);
      background-color: #FAEBD7;
      /* background-color: blanchedalmond; */
      width: 100%;
      margin: auto;
      padding: 20px;
      font-size: larger;
      font-weight: bold;
      border-radius: 10px;
      margin-top: 30px;
    }

    .nav-item {
      margin-left: 10px;
    }

    .navbar-brand {
      width: 4.5rem;
    }

    input[type="text"],
    input[type="file"],
    #description {
      border: 2px solid black;
    }

    .nav-link {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: large;

    }

    label {
      margin-top: 10px;
      margin-bottom: 2px;
    }

    .nav-link:hover {
      background-color: darkred;
      /* padding: 1px 10px; */
      color: white;
      border-radius: 20px;
    }

    .btn,
    .btn:hover {
      background-color: brown;
      color: white;
      font-weight: bold;
    }

    textarea {
      resize: none;
    }

    /* @media(max-width:900px) {
      form {
        width: 100%;
      } */

    /* } */
    img {
      width: 130%;
      margin-top: 25px;
      border-radius: 10px;
    }

    .head_page {
      background-color: white;
      padding: 23px;
      border-radius: 20px;
      width: 100%;

    }

    @media(max-width:992px) {
      img {
        width: 80%;
        margin: auto;
        display: block;
        margin-bottom: 20px;
      }

      .head_page {
        width: 80%;
        margin: auto;
      }

      @media(max-width:600px) {
        .head_page {
          width: 90%;
          margin: auto;
        }

        form {
          width: 90%;
          margin: auto;
        }
      }

    }

    .head_page ul li {
      margin-top: 15px;
    }
  </style>
</head>

<body>

  <%- include("header.ejs") %>

  <div class="container">

    <div class="text-center my-3">

      <h1>Create a Post</h1>
      <h4>Share your Ideas to All</h4>

      <div class="row head_page container-fluid">
        <div class="col-lg-3">
          <img src="https://img.freepik.com/free-vector/organic-flat-blog-post-illustration-with-people_23-2148955259.jpg?w=360&t=st=1667449058~exp=1667449658~hmac=e386ddab1455c75ed23934db8a92944a24732f3ab5fba5d70f3b443c350d8887" alt="">
        </div>
        <div class="col-lg-8 offset-lg-1 fw-bold fs-5">
          <p>Whether sharing your expertise,knowldge , or whatever’s on your mind, you’re in best place to share to other in coding community. Sign up to discover why millions of people have published their knowledge here. Let's Post make Coding Easy for Others</p>
          <ul style="text-align:left">
            <li>Earn Money -: Top Post Creater will Rewarded by Cash Price</li>
            <li>Increase knowldge -: It help you add more Information into you existing knowldge.</li>
          </ul>
          <button class="btn" href="#post">Create Post</button>




        </div>
      </div>

    </div>
    <form action="/create-post" method="post" id="post" enctype="multipart/form-data">
      <h2 class="text-center my-2">Create a unique and Beautiful Post</h2>

      <div class="row">
        <div class="col-md-5">
          <label for="name">Name of Creater</label>
          <input type="text" id="name" name="name" required class="form-control" autocomplete="off" autocapitalize="words" maxlength="15" value="<%=name%>" readonly/>
        </div>
        <div class="col-md-5 offset-md-2">
          <label for="title">Title of Post</label>
          <input type="text" id="title" name="title" required class="form-control" autocomplete="off" autocapitalize="words" maxlength="25" />

        </div>
      </div>





      <label for="Summary">Summary of Post</label>
      <input type="text" id="Summary" name="Summary" required class="form-control" autocomplete="off" autocapitalize="words" maxlength="80" />

      <label for="Category">Category <sup class="text-danger">* Category Should be Seprated by Comma</sup></label>
      <input type="text" id="Category" name="Category" required class="form-control" autocomplete="off" autocapitalize="words" maxlength="80" placeholder="Category 1 , Category 2 , Category 3 , ...."/>
      <!-- <label for="Summary">Summary of Post</label> -->



      <!-- <label for="website">Restaurant website</label>
            <input type="text" id="website" name="website" class="form-control" autocomplete="off" /> -->

      <label for="description">Body of Post</label>
      <textarea name="description" id="description" rows="5" required class="form-control" autocomplete="off" minlength="250" maxlength="1000"></textarea>

      <!-- <label for="description">Body of Post</label>
      <textarea name="description" id="description" rows="5" required class="form-control" autocomplete="off" minlength="250" maxlength="1000"></textarea> -->

      <label for="photo">Upload Photo</label>
      <input type="file" name="photo" id="photo" class="form-control">
      <input type="submit" value="Share Post" class="btn my-3">
    </form>
  </div>
  <br>
  <%-include("footer.ejs")%>
</body>

</html>