<style>
  nav {
    border-bottom: 2px solid black;
    margin: auto;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg sticky-top text-danger">
  <!-- <img src="https://tse2.mm.bing.net/th?id=OIP.X-BqeuY-fo0fSF8uuqT85AHaEP&pid=Api&P=0" alt="" class=" mx-3 navbar-brand"> -->
  <img src="img/logo.jpg" alt="" class=" mx-3 navbar-brand">

  <button class="navbar-toggler" data-target="#menu" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mx-5 ml-auto">
      <li class="nav-item"><a href="/" class="nav-link">About</a></li>
      <li class="nav-item"><a href="/see_post" class="nav-link">All Post</a></li>
      <li class="nav-item"><a href="/create-post" class="nav-link">Create Post</a></li>
  
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="/register" class="nav-link">Register User</a></li>

      
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    
      <!-- <h4>Cannot Login</h4> -->

    


      <!-- <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li> -->
    </ul>
  </div>


</nav>
